
body{
  font-family: 'Roboto', sans-serif;
  text-decoration: none ;
}

.container {
  display: flex;
  justify-content: center;
}
.form-container {
  display: flex;
  justify-content: center;
}

#submit-btn {
  margin-top: 10px;
}

.btn {
  color: white;
  text-decoration: none ;
}

.form-label {
  margin-top: 10px;
}

.articles {
  text-align: center;
}

.article h2{
  color: #337ab7;
  font-size: 30px;
}

.article p{
  font-weight: lighter;
}

.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 16px 24px;
}

.navbar .brand {
  width: 40px;
}

.navbar .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

.navbar .navbar-actions .navbar-link {
  margin-left: 24px;
  color: #999999;
}
.navbar .navbar-actions .navbar-link:hover {
  color: #151515;
}


.navbar .navbar-actions .avatar {
  margin-left: 24px;
}

.navbar .dropdown-toggle {
  cursor: pointer;
}
